@model Pokrocily_zaverecny_projekt.Models.Insurance

@{
    ViewData["Title"] = "Detail pojistky";
}

<section style="min-height: 500px">
<div>
    <h4>Detail pojistky</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurenceObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurenceObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</section>