@model Pokrocily_zaverecny_projekt.Models.Insured

@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<div class="m-5">
    <div class="d-flex">
        <div class="d-flex align-self-start">
            <img src="~/images/pojistenec.png" width="120">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mt-0">@Html.DisplayFor(model => model.Name)</h5>
            <p>@Html.DisplayFor(model => model.Adress)</p>
        </div>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
