@model Pokrocily_zaverecny_projekt.Models.Insured



@{
    ViewData["Title"] = "Detail";
}
<section class="m-5" style="min-height: 500px;">
    <h1>Podrobnosti</h1>

    <div class="my-3">
        <div class="d-flex">
            <div class="d-flex align-self-start">
                <img src="~/images/pojistenec.png" width="120">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="mt-0">@Html.DisplayFor(model => model.Jmeno)</h5>
                <p>@Html.DisplayFor(model => model.Adresa)</p>
            </div>
        </div>
    </div>
    <h4>Sjednaná pojištění</h4>
    <div class="table-responsive-lg">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Pojištění
                    </th>

                    <th>
                        Částka
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Insurance)
                {
                    <tr>
                        <td class="align-middle">
                            <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Jmeno)</a>
                            <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Prijmeni)</a>
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Adresa)
                            @Html.DisplayFor(modelItem => item.CisloDomu)
                        </td>

                        <td class="align-middle">
                            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editovat</a> |
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
	<div>
        <div class="d-flex justify-content-md-center">
		<a class="btn btn-primary col-lg-2 m-2" asp-controller="Insurances" asp-action="Create">Přidat pojištění</a>
		<a class="btn btn-warning col-md-auto m-2" asp-action="Edit" asp-route-id="@Model?.Id">Editovat pojištěnce</a> 
        <a class="btn btn-danger col-lg-2 m-2" asp-action="Delete" asp-route-id="@Model?.Id">Odstranit pojištěnce</a>
		</div>
		<a class="btn btn-secondary m-2" asp-action="Index">Zpět</a>
        
    </div>
</section>